<!--title-->
<div class="container-title">
    <div class="title">
        <h1>angular-movies></h1>
    </div>
    <div class="title2">
        <h1>_</h1>
    </div>
</div>

<!--search bar-->
<div class="search">
    <input type="text" class="search-bar" placeholder="Movie name" [formControl]="findMovie">
</div>
<div class="bottom-page">
    <!--list of movies-->
    <div class="list">
        <ul>
            <li *ngFor="let movie of movies">
                <button type="button" (click)="onSelectMovie(movie)">
                    <span class="name">{{movie.Title}}</span>
                </button>
            </li>
        </ul>
    </div>
    <!--no movie-->
    <div class="no-movie" *ngIf="movies === undefined || movies.length === 0">
        <span class="no-movie-message">Please, search any movie</span>
    </div>
    <!--movie detail-->
    <div class="detail" *ngIf="detail">
        <app-movie-detail
            [movie]="this.selectedMovie"
        ></app-movie-detail>
    </div>
</div>

