.search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 100px 0;
}

.search-bar {
    align-self: center;
    border: 0;
    height: 50px;
    width: 500px;
    text-align: center;
    font-size: larger;
    color: #ffffff;
    background-color: #363d58;
}

li {
    list-style: none;
    padding: 5px;
}

.detail {
    width: 60%;
    margin-left: auto;
}

.bottom-page {
    display: flex;
    flex-direction: row;
}

button  {
    border: 0;
}

button:hover {
    background-color: #eb5b5b;
}

span {
    color: #424242;
    font-family: 'Courier New', Courier, monospace;
}

.no-movie-message {
    margin: 100px;
    color: #8f322c;
}

.title {
    
    font-family: 'Courier New', Courier, monospace;
    color: #424242;
}

.title2 {
    font-family: 'Courier New', Courier, monospace;
    color: #8f322c;
}

.container-title {
    margin: 0 30px;
    display: flex;
}